// 页面色值
$c-primary-normal = #559d41
$c-primary-hover = #447D34 // hover
$c-primary-image = rgba($c-primary-normal, 0.1) // 填充
$c-primary-light = rgba($c-primary-normal, 0.4) // 图形化场景
$c-primary-weak = rgba($c-primary-normal, 0.6)

// 辅助色
$c-green = #01C802 // 成功/得分率优秀
$c-green-weak = #01C802
$c-orange = #FBA110 // 警告/得分率中
$c-orange-weak = #FAD291
$c-red = #EE4334 // 错误/得分率低
$c-red-weak = #FF948B
$c-blue = #4990E1 // 正常/得分率良
$c-blue-weak = #94BFF1
// chart辅佐色用于样式里
$c-chart-blue = #12A5EA
$c-chart-green = #01C802
// 字体颜色
$c-title = #333333 // 标题
$c-body = #666666 // 正文
$c-tips = #999999 // 辅助文字
$c-assist = #cccccc // 辅助文字
$c-deep-black = #000000 // 印刷字体

// table颜色
$c-table-border = #333333

// 禁用
$c-disabled = #cccccc

// 边框/分割线
$c-border = #DCDFE6
// 按钮边框
$c-btn-border = #dbdbdb

// 阴影
$c-shadow = #EAEEE9
$c-box-shadow = 0 0 20px $c-shadow

// 背景
$c-background = #EFF5FC
$c-box-background = #E5E5E5
$c-background-weak = #F7F8F9
$c-background-lightest = #fcfcfc
$c-box-background-circle = #f5f5f5
$c-card-background = rgba(246, 246, 246, 1)
$c-mask-background = rgba(0,0,0, 0.4)
$c-popover-bg = #E4E7ED
// 答题卡风格
$c-normal-grey-11111 = #EEEEEE
$c-normal-grey-22222 = #F7F8F9
$c-normal-black-11 = #737373
$c-normal-grey-1 = #DBDBDB
$c-normal-grey-111 = #D9D9D8
$c-normal-grey-1111 = #ECECEC
$c-normal-grey-11 = #ddd
$c-light-grey-1111 = #F2F2F2

// 页面宽度
$w-max = 1600px
$w-primary = 1200px
$w-min = 1024px
